@model MoneyMaker.Models.Alert

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Alert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="FromCurrency" />
            <input type="hidden" asp-for="ToCurrency" />
            <div class="form-group">
                <label asp-for="AlertName" class="control-label"></label>
                <input asp-for="AlertName" class="form-control" />
                <span asp-validation-for="AlertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isBelow" /> @Html.DisplayNameFor(model => model.isBelow)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ConditionValue" class="control-label"></label>
                <input asp-for="ConditionValue" class="form-control" />
                <span asp-validation-for="ConditionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
