@model MoneyMaker.Models.Alert

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> aboveBelowList = new List<SelectListItem>();
    aboveBelowList.Add(new SelectListItem() { Text = "Below",   Value=true.ToString(), Selected = false });
    aboveBelowList.Add(new SelectListItem() { Text = "Above",   Value=false.ToString(), Selected = false });
}

<h1>Edit</h1>

<h4>Alert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="onPostEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input readonly asp-for="FromCurrency" />
            <input readonly asp-for="ToCurrency" />
            <div class="form-group">
                <label asp-for="AlertName" class="control-label"></label>
                <input asp-for="AlertName" class="form-control" />
                <span asp-validation-for="AlertName" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <select asp-for="isBelow"
                    asp-items="@(aboveBelowList)"></select>
            </div>
            <div class="form-group">
                <input asp-for="ConditionValue" type="number" class="form-control" step="0.01"/>
                <span asp-validation-for="ConditionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
