@using MoneyMaker.ViewModels;
@model ConvertViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="convertBlock">
        <form method="post">

            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <select name="FromCurrency" asp-for ="FromCurrency" asp-items="@(new SelectList(ViewBag.currencies, "CurrencySym", "CurrencyFullName"))"></select>
                        </div>

                        
                    </td>
                    <td>
                        <div class="form-group">
                            <span asp-validation-for="FromValue" class="text-danger"></span>
                            <input asp-for="FromValue" type="number" name="FromValue" id="FromValue">
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Convert</button>                    
                    </td>
                </tr>

                <tr>
                    <td>
                        <input asp-for="ToValue" type="number" name="ToValue" id="ToValue" value=@Model.ToValue>
                    </td>   

                    <td>
                        <div class="form-group">                
                            <select name="ToCurrency" asp-for ="ToCurrency" asp-items="@(new SelectList(ViewBag.currencies, "CurrencySym", "CurrencyFullName"))"></select>
                        </div>
                    </td>
                </tr>
            </table>
        
        </form>

         <div asp-validation-summary="All" class="text-danger"></div>
    </div>

    <div id="featuresBlock">
        <p>
            Store portfolio and see a sum of your money in local currencies
        </p>

        <p>
            Create alert to be updated with the currency exchange rate
        </p>

        <p>
            See a trend of the forex in the past        
        </p>
    </div>

    <div id="chartBlock">
        @* TODO: Chart goes here, make visible when theres conversion, else invisible *@
    </div>

</div>
