@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="convertBlock">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        <select name="fromUnit" id="fromUnit">
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="CAD">CAD</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" name="fromValue" id="fromValue" value='@ViewData["FromValue"]'>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <input type="submit" name="convert" value="Convert >>">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input readonly type="number" name="toValue" id="toValue" value='@ViewData["ToValue"]'>
                    </td>   

                    <td>
                        <select name="toUnit" id="toUnit">
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="CAD">CAD</option>
                        </select>
                    </td>
                </tr>
            </table>
        }
    </div>

    <div id="featuresBlock">
        <p>
            Store portfolio and see a sum of your money in local currencies
        </p>

        <p>
            Create alert to be updated with the currency exchange rate
        </p>

        <p>
            See a trend of the forex in the past        
        </p>
    </div>

    <div id="chartBlock">
        @* TODO: Chart goes here, make visible when theres conversion, else invisible *@
    </div>

</div>
