@model MoneyMaker.Models.PortfolioEntry

@{
    ViewData["Title"] = "Create Portfolio Entries";
}

<h1>Make new Portfolio entries</h1>

<h4>Entry to your portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control"/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                Portfolio Entry Currency:
            <select name="EntryCurrencySym" asp-for="EntryCurrencySym"
                asp-items="@(new SelectList(ViewBag.currencies, "CurrencySym", "CurrencyFullName"))"></select>
                <span asp-validation-for="EntryCurrencySym" class="text-danger"></span>
            </div>
            <div class="form-group">
                Portfolio Entry Value:
                <input asp-for="EntryValue" class="form-control" />
                <span asp-validation-for="EntryValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
