@model IEnumerable<MoneyMaker.Models.PortfolioEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                Currency
            </th>
            <th>
                Amount
            </th>
            <th>
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @item.EntryCurrencySym
            </th>
            <th>
                @item.EntryValue
            </th>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
